
@font-face {
  font-family: NHaasGrotesk;
  src: url(fonts/NHaasGroteskTXPro-55Rg.woff);
}

@font-face {
  font-family: NHaasGrotesk;
  src: url(fonts/NHaasGroteskTXPro-75Bd.woff);
  font-weight: bold;
}

html {
    font-family: "NHaasGrotesk", sans-serif;
    --type-numerator: 75;
    --type-ratio-h1: calc(var(--type-numerator) / 7);
    --type-ratio-h2: calc(var(--type-numerator) / 4);
    --type-ratio-h3: var(--type-ratio-h2);
    --type-default-size: calc(99vw/var(--type-numerator));

    font-size: var(--type-default-size);
    line-height: calc(calc(99vw/calc(var(--type-numerator) * 0.6)));

    --color-foreground: white;
    --color-background: black;
    --color-accent: #bf1595;
}

p, h1, h2, h3, h4 {
    margin: 0 0 1rem 0;
}


h1 {
    color: var(--color-background);
    opacity: 0.45;
}

h2 {
    color: var(--color-accent);
    opacity: 0.5;
}

h3 {
    color: var(--color-foreground);
    opacity: 0.35;
}

h4 {
    color: var(--color-foreground);
    opacity: 0.35;
}

p:last-child {
    margin-bottom: 0;
}

header {
    margin-top: 3.0rem;
    position: relative;
}

header img {
    position: relative;
    top: -3rem;
    right: 0;
    opacity: 0.25;
    width: 72.87rem
}

section {
    padding: 3rem 0 3rem 0;
}

aside a {
    float: left;
    clear: both;
}

video {
    width: 100%;
}

.video-box {
    position: absolute;
    top: -13rem;
    left: 0;
    z-index: -1;
}

.video-box:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(18,18,18);
    background: linear-gradient(180deg, rgba(18,18,18,0) 0%, rgba(18,18,18,1) 98%, rgba(18,18,18,1) 100%),
                radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 80%, rgba(0,0,0,1) 100%);
}

body {
    margin: 3rem;
    color: #eee;
    background: #121212;
}

hr {
    color: var(--color-accent);
    margin: 1rem 0;
    opacity: 0.25;
}

h1, h2, h3 {
    letter-spacing: 0.0125rem;
    font-weight: normal;
    text-transform: uppercase;
}

grid-2,
grid-3,
grid-5,
grid-8 {
    display: grid;
    gap: 2rem;
}

grid-2 {
    grid-template-columns: repeat(2, 1fr);
}

grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

grid-5 {
    grid-template-columns: repeat(5, 1fr);
}

grid-8 {
    grid-template-columns: repeat(8, 1fr);
}

grid-span-2 {
    grid-column: span 2;
}

grid-span-3 {
    grid-column: span 3;
}

extra-space {
    height: 3rem;
    display: block;
}

main img {
    background-color: var(--color-foreground);
    opacity: 0.5;
    border-radius: 1rem;
    width: 100%;
}

a {
    color: var(--color-accent);
    text-decoration: none;
}

a:hover {
    background-color: var(--color-background);
}

strong-accent {
    font-weight: bold;
    color: var(--color-accent);
}

::selection {
    color: var(--color-foreground);
    background: var(--color-accent);
}

address {
    font-style: normal;
}

address, time {
    opacity: 0.5;
}

footer {
    margin: 22rem 0 3rem 0;
}

footer nav {
    align-content: end;
}
footer nav a {
    text-align: right;
}

main nav a {
    margin-right: 1rem;
}

main nav i {
    color: var(--color-accent);
    opacity: 0.5;
    margin-right: 0.2rem;
}

main nav icon-link {
    float: left;
    clear: both;
}

aside > * {
    float: left;
    clear: both;
}

h1 {
    font-size: calc(99vw/var(--type-ratio-h1));
    line-height: calc(99vw/var(--type-ratio-h1));
}

h2 {
    font-size: calc(99vw/var(--type-ratio-h2));
    line-height: calc(99vw/var(--type-ratio-h2));
}

h3 {
    font-size: calc(99vw/var(--type-ratio-h3));
    line-height: calc(99vw/var(--type-ratio-h3));
}

header h1 {
    position: relative;
    top: -.5rem;
    left: -.25rem;
}

.none {
    display: none;
}

